# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env
*.csv
.vscode/

# IDEs and Editors
.idea/
*.iml
*.ipr
*.iws

# Operating System Files
.DS_Store
Thumbs.db

# Environment variables
.env

# Uploaded PDFs and data
/uploads/
/data/
/logs/
*.sqlite3
*.db
.venv/
/offline_cache
/assets.py